.login header{
    background-color:#FF9900;
    line-height: 1rem; 
    text-align: center;
    width: 100vw;
    position: relative;
    color: #fff;
}
.login header a{
    display: inline-block;
    line-height: 1rem;
    position: absolute;
    right: 0.2rem;   
    color: #fff; 
}
.login form{
    width: 90%;
    margin: 3rem auto;
}
.login form input{
    outline: none;
    width: 100%;
    margin-bottom: 0.4rem;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #cccccc;
}
.login form .wang{
    float: right;
    color: #a1a3a5;
    font-size: 0.3rem;
}
.login form  button{
    width: 100%;
    line-height: 1.2rem;
    text-align: center;
    background-color: #FF9900;
    border-radius:0.3rem;
    border: none;
    margin-top: 0.3rem;
    color: #fff;
}