.catedetail{
    padding: 0.8rem 0.2rem;
}
.catedetail .catedetail-list{
    overflow: hidden;
    margin-top: 0.3rem;
    width: 100vw;
}
.catedetail .catedetail-left{
    float: left;
    border-radius: 0.2rem;
    overflow: hidden;
    width: 2rem;
}
.catedetail-left  img{
   width: 100%;
}
.catedetail .catedetail-right{
    float: right;
    width:68%;
    font-size: 0.2rem;
    color: #333333;
}
.catedetail .catedetail-right .pp{
    color: #DE1818;
    margin-top: 0.3rem;
}
.catedetail .catedetail-right button{
    border: none;
    text-align: center;
    color: #fff;
    line-height: 0.8rem;
    background-color:#FF9900;
    font-size: 0.2rem;
    padding: 0 0.3rem;
    border-radius: 0.2rem;
}
.catedetail .shibai{
    width: 6rem;
    height: 6rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.catedetail .shibai img{
    width: 100%;
}
.catedetail .shibai p{
    font-size: 0.5rem;
    text-align: center;
}

