.homeheader{
   width: 100vw;
   line-height: 1rem;
   padding-bottom: 0.5rem;
   box-sizing: border-box;
   background-color: #fff;
}
.homeheader img{
    display: inline-block;
    margin-left: 0.1rem;
    margin-top: 0.5rem;
    vertical-align: middle;
}
.homeheader input{
    outline: none;
    background-color: #cccccc;
    position: relative;
    width: 1.8rem;
    border: none;
    border-radius: 0.15rem;
    line-height: 0.6rem;
    padding: 0 0.2rem;
    vertical-align: bottom;
    margin-left: 1rem;
}